/****************** media queries area **************************/
@media (width<=1400px) {
    html {
        font-size: 62.5%;
    }

    .question-left p {
        font-size: 3rem;
    }

    .question-right p {
        font-size: 2.3rem;

        &>span {
            font-size: 3.8rem;
        }
    }

    .middle-part .paragraph {
        font-size: 1.6rem;
    }

    .form .form-group {
        & label {
            font-size: 1.2rem;
        }
    }

    .bottom-part {
        & .guarantee-text {
            font-size: 1.3rem;
        }

        & .guarantee-btn {
            font-size: 1.6rem;
        }
    }

    .main-heading {
        font-size: 2.3rem;
    }

    .section-show p {
        font-size: 1.5rem;
        padding-right: 1rem;
    }

    .box-1 .sub-heading {
        font-size: 1.8rem;
        margin-top: .5rem;
    }

    .box-2 figure img {
        width: 18rem;
    }
}

@media (width<=1220px) {
    html {
        font-size: 56.25%;
    }

    .navbar ul li {
        & a {
            font-size: 1.5rem;
        }
    }

    .question-left p {
        font-size: 2.8rem;
    }

    .question-right p {
        font-size: 1.8rem;

        &>span {
            font-size: 3.2rem;
        }
    }

    .middle-part .paragraph {
        font-size: 1.5rem;
    }


    .form .form-group {
        /* margin-left: 1rem; */
        background-color: yellow;

        & label {
            font-size: 1rem;
        }

        & input {
            padding: .1rem;
        }
    }

    .form .confidential-img {
        width: 60%;
        height: auto;
    }
}

@media (width<=998px) {
    html {
        font-size: 54%;
    }

    main .section-hero {
        grid-template-columns: 1fr;

        & .section-hero--left {
            width: auto;
            height: 100vh;
            order: 2;
        }

        & .section-hero--right {
            order: 1;

        }
    }
}