/****************** media queries area **************************/

@media (width<=1400px) {
    html {
        font-size: 62.25%;
    }

    .certificate-image {
        width: 18rem;
    }
}


@media (width<=1300px) {
    html {
        font-size: 54%;
    }

    .certificate-image {
        width: 15rem;
    }

    .social-links {

        & .links {

            & img {
                width: 40px;
            }
        }
    }
}

@media (width<=1200px) {
    .section-header {
        & .logo {
            & img {
                width: 90%;
            }
        }
    }

    .navbar {
        & ul {
            gap: .7rem;

            & li a {
                font-size: 1.8rem;
            }
        }
    }


    .questions {

        & .question-left p {
            font-size: 3.2rem;
        }

        & .question-right {
            padding: 0 4rem 0 4rem;

            & p {
                font-size: 2.5rem;

                &>span {
                    font-size: 3.5rem;
                }
            }
        }
    }

    .middle-part {

        & .paragraph {
            font-size: 1.8rem;
        }
    }

    .form {
        overflow: visible;

        & .form-group {
            margin-left: .1rem;

            & label {
                font-size: 1.4rem;
            }

            & input {
                padding: .15rem;
            }
        }

        & .confidential-img {
            width: 88%;
            height: 78%;
            margin-left: 2.5rem;
        }
    }

    .bottom-part {
        & .guarantee-text {
            font-size: 1.4rem;
        }
    }

    .social-links {
        & .links {

            & img {
                width: 38px;
            }
        }
    }

}

@media (width<=1090px) {

    .questions {
        & .question-left p {
            font-size: 3rem;
        }

        & .question-right {
            padding: 0 3rem 0 4rem;

            & p {
                font-size: 2.5rem;

                &>span {
                    font-size: 3.2rem;
                }
            }
        }
    }

    .form {

        & .form-group {
            width: 102%;
        }

    }

    .bottom-part {

        & .guarantee-text {
            font-size: 1.5rem;
        }

        & .guarantee-btn {
            font-size: 1.9rem;
        }
    }

    .box-1 {
        & .sub-heading {
            font-size: 2rem
        }

        & .container-button {

            & button {
                margin-left: 3.5rem;
            }
        }
    }

    .box-2 {
        & button {
            margin-left: 6rem;
        }
    }


    .row {
        & p {
            font-size: 1.8rem;
        }
    }

    .main-heading {
        font-size: 2.5rem;
    }
}

@media (width<=998px) {
    .section-header {
        & .logo {
            & img {
                width: 80%;
            }
        }
    }

    .navbar {
        & ul {
            gap: .2rem;


            & li a {
                font-size: 1.5rem;
            }
        }
    }

    .questions {
        & .question-left p {
            font-size: 2.8rem;
        }

        & .question-right {
            padding: 0 3rem 0 4rem;

            & p {
                font-size: 2rem;

                &>span {
                    font-size: 3rem;
                }
            }
        }
    }

    .middle-part {
        & .paragraph {
            font-size: 1.6rem;
        }
    }

    .form {
        & .form-group {
            margin: 0;
            width: 110%;

            & label {
                font-size: 1.2rem;
            }
        }


        & .confidential-img {
            width: 85%;
            height: 80%;
            margin-left: 3rem;
        }
    }

    textarea {
        height: 7rem;
    }

    .bottom-part {
        & .guarantee-text {
            font-size: 1.3rem;
        }

        & .guarantee-btn {
            font-size: 1.5rem;

            &>img {
                width: .7rem;
            }
        }
    }

    .box-1 {
        & .sub-heading {
            font-size: 1.8rem;
            margin: 0;
        }

        & .container-button {

            & button {
                margin-left: 2.5rem;
            }
        }
    }

    :is(.content, .paragraph, .box-3) p {
        font-size: 1.5rem;
    }

    .button-show button {
        margin-left: 3.5rem;
        font-size: 1.3rem;

        &>img {
            width: .8rem;
        }
    }

    .box-2 figure {
        & img {
            width: 18rem;
        }
    }

    .review:has(.button-show) button {
        margin-left: 5.5rem;
        font-size: 1.3rem;

        &>img {
            width: .8rem;
        }
    }
}

@media (width<=768px) {

    .navbar ul {
        justify-content: center;

        & li a {
            font-size: 1.2rem;
        }
    }

    main .grid-two--cols {
        grid-template-columns: 1fr;

        & .section-hero--left {
            width: 100%;
        }
    }
}